/* Styles go here */

.App {
    text-align: center;
}

#parent { white-space: nowrap; }
.child { display: inline-block; }

#element1 {float:left;}
#element2 {padding-left : 20px;float:left;}

.nav-links {
    width: 40%;
    color: green;
    padding: 4px * 15px;
    width: 150px;
    display: inline-block;
    /* text-align: center; */
    /* display: flex; */
    /* justify-content: space-around; */
    /* align-items: center; */
    list-style: none;
    background-color: cyan;
    cursor:pointer
    
}